header {
  background-color: $primary-color;
  nav {
    .container {
      .navbar-menu {
        height: 50px;
        color: red;
        @include flexBox(space-between, center);
      }
    }

    ul {
      @include flexBox(center, center);
      gap: 1rem;
      color: #fff;

      li {
        list-style-type: none;
        a {
          color: $text-white;
        }
      }
    }
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
}
.firstbutton {
  width: 150px;
  height: 15px;
}
